<h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p>

<%= link_to "Add a new cocktail", new_cocktail_path %>
<% @cocktails.each do |cocktail| %>
  <li><%= link_to cocktail.name, cocktail_path(cocktail.id) %></li>
<% end %>
