
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSefqHq3rFdIx22lyangl7zVTsW1id8lQ6n6Q&usqp=CAU" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to new_cocktail_path, class: "nav-link" do %>
          <i class='fas fa-plus-circle'></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
