
  <div class="navbar navbar-expand navbar-light navbar-lewagon">
    <div id="header-flex-box">
      <div class="header-img">
      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "https://res.cloudinary.com/dx9ybadbm/image/upload/v1598011963/pngwing.com_fhd5lh.png" %>
        <% end %>
        </div>
        <div class="header-title">
        <h1 id="navbar-title">Cocktails</h1>

      </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to new_cocktail_path, class: "nav-link" do %>
          <i class='fas fa-plus-circle'></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
