.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 1;
}



.col-12.col-md-6.col-lg-4 {
  padding: 2px !important;

}


.col-12.col-md-6.col-lg-4  a{
  color: $success;
}
