.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: #E56A77;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbar-title{
  font-family: 'Pacifico', cursive;
  color: #53ECF4;
}

#header-flex-box{
  display: flex;
}
